.image {
    width: 10px;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: #ff0000;
}
.linked{
    
}
h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.header {
    display: flex; /* This will align the <h1> elements in a row */
    justify-content: space-around; /* This evenly spaces the items */
    align-items: center; /* Vertically centers the items */
}